<h1>{{title}}</h1>

<form id="login-form" class="login-form">
  <fieldset>
    
    <label for="email">Email:</label><br>
    <input type="email" name="email" placeholder="Email" required><br>
    
    <label for="password">Password:</label><br>
    <input type="password" name="password" placeholder="Password" required><br>

    <hr>

    <input type="submit" value="Login" id="login-btn" class="login-btn">
  </fieldset>
</form>

<div>
  <a href="http://localhost:8080/auth/register"><button class="register-btn">Register</button></a>
</div>

<div>
  <a href="http://localhost:8080/api/sessions/github"><button class="login-github-btn">Login with GitHub</button></a>
</div>

<script src="/js/login.js"></script>