<header>
  <div>
    <h1>{{name}}</h1>
  </div>
  <div class="profile-container">
    <h5>{{user}}</h5>
    <button type="button" id="checkout-btn" class="checkout-btn">Checkout</button>
    <button type="button" id="logout-btn" class="logout-btn">Logout</button>
  </div>
</header>
<hr>
<main>
  <div>
    <div id="product-container" class="products-container">
      <h2>Products</h2>
    </div>
    <div id="pagination-container" class="pagination-container"></div>
  </div>
</main>
<hr>
<footer>
  <div id="paging-container" class="paging-container"></div>
  <p>Axel Sánchez &copy; 2023</p>
</footer>

<script src="/js/products.js"></script>
