<h1>{{title}}</h1>

<form id="register-form" class="register-form">
  <fieldset>

    <label for="firstName">First Name:</label><br>
    <input type="text" name="firstName" id="firstName" placeholder="First Name" required><br>
    
    <label for="lastName">Last Name:</label><br>
    <input type="text" name="lastName" id="lastName" placeholder="Last Name" required><br>
    
    <label for="email">Email:</label><br>
    <input type="email" name="email" id="email" placeholder="Email" required><br>
    
    <label for="age">Age:</label><br>
    <input type="number" name="age" id="age" placeholder="Age" required><br>
    
    <label for="password">Password:</label><br>
    <input type="password" name="password" id="password" placeholder="Password" required><br>

    <hr>

    <input type="submit" value="Register" class="submit-btn" id="submit-btn">
  </fieldset>
</form>

<a href="/auth/login"><button class="login-btn">Login</button></a>

<script src="/js/register.js"></script>
