* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
body {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 10px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.products-container {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f8f8;
}

.logout-btn {
  background-color: white;
  color: crimson;
  padding: 10px;
  border: 1px solid crimson;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
.logout-btn:hover {
  background-color: crimson;
  color: white;
  padding: 10px;
  border: 1px solid crimson;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
.buy-btn {
  background-color: white;
  color: orange;
  padding: 10px;
  border: 1px solid orange;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
.buy-btn:hover {
  background-color: orange;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
.delete-product-btn {
  background-color: white;
  color: crimson;
  padding: 10px;
  border: 1px solid crimson;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
.delete-product-btn:hover {
  background-color: crimson;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
.back-to-products-btn {
  background-color: white;
  color: violet;
  padding: 10px;
  border: 1px solid violet;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
.back-to-products-btn:hover {
  background-color: violet;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}